<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.wxj.loginAndResign.dao.LARDao">
           <insert id="add" parameterType="com.wxj.loginAndResign.entity.User" >
              insert into userinfo values(#{id},#{userName},#{password},#{nickName},
              #{gender},#{IDCard},#{phonenum},#{eMail},#{address},#{borthday})
           </insert>
          
    
    </mapper>